extends ../layout
block body
  .ui.segment
    p Hello, #{user.username}. 
      a(href="/logout") Logout
  table.ui.table#projectlist
    th
      tr
        td id
        td name
        td created
        td update
        td delete
    each project in projects
      tr(id="tr"+project.id)
        td=project.id
        td 
          span(id="name"+project.id)= project.name
          span.hidden(id="new"+project.id)
            input(type="text", value=project.name, id="updatedname"+project.id)
            i.large.green.check.icon.hidden(style="display:none", id="save"+project.id, onclick="updateproject("+project.id+")")
        td=moment(project.createdAt).format('ddd D MMM, HH:mm:ss')
        td
          i.large.edit.icon(id="edit"+project.id onclick="editproject("+project.id+")")
        td
          i.large.trash.icon(onclick="deleteproject("+project.id+")")
  form.ui.form(onsubmit="createproject(); return false")
    .two.fields
      .field
        input(type="text", id="name", name="name", placeholder="New project", required)
      .field
        button.ui.primary.button(type="submit") Create

block extrajs
  script.
    function deleteproject(id) {
      $.ajax({
        url: '/project/'+id,
        type: 'DELETE',
        success: function(result) {
          $('#tr'+id).fadeOut();
        }
      });
    }
    function createproject() {
      var name = $('#name').val();
      $.ajax({
        url: '/project/create',
        type: 'POST',
        data: {name: name},
        success: function(result) {
          $("#name").val("");
          $.get("/project/get/"+result.id, function(data){
            $("#projectlist").append(data);
          });
        }
      });
    }
    function updateproject(id) {
      var name = $('#updatedname'+id).val();
      $.ajax({
        url: '/project/update',
        type: 'PUT',
        data: {id:id, name: name},
        success: function(result) {

        }
      });
      $('#name'+id).text(name);
      $('#name'+id).show();
      $('#edit'+id).show();
      $('#new'+id).hide();
      $('#save'+id).hide();
    }
    function editproject(id) {
      $('#name'+id).hide();
      $('#edit'+id).hide();
      $('#new'+id).show();
      $('#save'+id).show();

    }
