extends ../layout
block body
  if(errors)
    each error in errors
      .ui.red.segment
        p= error
  .ui.segment
    form.ui.form(role='form', action='/auth/local', method='post')
      .field
        input(type='text', name='identifier', placeholder='Username or Email')
      .field
        input(type='password', name='password', placeholder='Password')
      .field
        button.ui.large.black.button(type='submit') Sign in
        | &nbsp; 
        a(href="/register") Register
