extends ../layout
block body
  if(errors)
    each error in errors
      .ui.red.segment
        p= error
  .ui.segment
    form.ui.form(role='form', action='/auth/local/register', method='post')
      .field
        input(type='text', name='username', placeholder='Username')
      .field
        input(type='text', name='email', placeholder='Email')
      .field
        input(type='password', name='password', placeholder='Password')
      .field
        button.ui.large.black.button(type='submit') Sign up
        | &nbsp;
        a(href='/login') Login
