tr(id="tr"+project.id)
  td=project.id
  td 
    span(id="name"+project.id)= project.name
    span.hidden(id="new"+project.id)
      input(type="text", value=project.name, id="updatedname"+project.id)
      i.large.green.check.icon.hidden(style="display:none", id="save"+project.id, onclick="updateproject("+project.id+")")
  td=moment(project.createdAt).format('ddd D MMM, HH:mm:ss')
  td
    i.large.edit.icon(id="edit"+project.id onclick="editproject("+project.id+")")
  td
    i.large.trash.icon(onclick="deleteproject("+project.id+")")
