doctype html
html
  head
    if locals.title
      title= title
    else
      title Pionix Test - Sorin Cristea

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css")
    // STYLES
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END
    
    block styles
    style.
      .ui.container {
        padding-top: 3em;
        max-width: 1000px!important;
      }
      .icon {
        cursor: pointer;
      }
      .hidden {
        display: none;
      }
  body
    .ui.container
      a(href='/')
        h1(style='color:#585858') Pionix test - Sorin Cristea
      block body

    // TEMPLATES

    // TEMPLATES END

    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    // SCRIPTS END
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    block extrajs
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js")
